/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');

/*Variables*/
$orbitron: 'Orbitron', sans-serif;
$blue: #0071b9;
$grey: rgb(68, 67, 73);
$dark-grey: #3D3C42;


@mixin pattern-bg {
	background-image: url(/Images/stardust.png); 
}

a{
	&:hover {
		text-decoration: none;
	}
}

.landing-body{
	@include pattern-bg;
	color: #fffff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	h1{
		color: white;
		font-family: $orbitron;
	}

	.row, .col{
		padding: 0;
	}

	.input-field.col label{
		left: 0;
	}
	
	label{
		color: white !important;
	}
	label.active, a {
		color: #9e9e9e ;
	}

	button{
		background: $blue;
		font-family: $orbitron;
	}

	.at-signup-link{
		p{
			color: $blue !important;

		}
	}

	input {
		color: white !important;
	}

}

.at-title {
	display: none;
}

.no-padding {
	padding: 0;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #444349 inset !important;
    -webkit-text-fill-color: white !important;
}

nav{
	background: $blue;

	a{
		text-decoration: none !important;

		&:hover{
			color: white;
		}
	}
}

.brand-logo{
	padding: 0 58px !important;
	width: 250px;
	background: #005B93;
	font-family: $orbitron;

	&:hover, &:focus{
		text-decoration: none;
	}
}

.grey-bg{
	background: $grey;
}

.side-nav{
	top: 64px;
	width: 250px;
	background: $grey;
	a{
		color: white !important;
	}

	li{
		&:nth-child(1){
			line-height: normal
		}

		&:nth-child(even){
			background: $dark-grey
		}
		a{
			&:hover, &:focus{
				text-decoration: none;
			}

			font-size: 1rem;
			i{
				margin-right: 15px !important;
				color: $blue !important;
			}

			span.badge{
				position: absolute;
				background-color: inherit;
				&:hover{
					background-color: inherit;
				}
			}
		}
	}
}

.dashboardMain{
	padding: 15px 0 0 250px;

}

.head-board{
	h4{
		font-family: $orbitron !important;
		padding: 20px 20px 20px 20px;
		margin: 0;
	}
}


.modal-activity{
	h4{
		font-family: $orbitron !important;
		padding: 5px;
		margin: 0;
	}

	text-align: center;
}

.collection{
	img{

	}
}

.map-container {
  width: 100%;
  max-width: 100%;
  height: 400px;
}

.header-icons {
	padding: 10px 10px;
	height: 100%;
	cursor: pointer;

	&:hover {
		background: teal
	}
}

.time {
	font-family: $orbitron !important;
	padding: 10px 0 0 0;
	color: $blue;
}

#action-modal{
	width: 30% !important;

}

.activity-card{
	height:400px;
	max-height:400px;
    overflow-y:scroll;
}

.collection-item{
	&:hover {
		cursor: pointer;
		background: #fafafa;
	}
}