/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Orbitron');

/*Variables*/
$orbitron: 'Orbitron', sans-serif;
$blue: #0071b9;
$grey: rgb(68, 67, 73);


@mixin pattern-bg {
	background-image: url(/Images/stardust.png); 
}

.landing-body{
	@include pattern-bg;
	color: #fffff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	h1{
		color: white;
		font-family: $orbitron;
	}

	.row, .col{
		padding: 0;
	}

	.input-field.col label{
		left: 0;
	}
	
	label{
		color: white !important;
	}
	label.active, a {
		color: #9e9e9e ;
	}

	button{
		background: $blue;
		font-family: $orbitron;
	}

	.at-signup-link{
		p{
			color: $blue !important;

		}
	}

	input {
		color: white !important;
	}

}

.at-title {
	display: none;
}

.no-padding {
	padding: 0;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #444349 inset !important;
    -webkit-text-fill-color: white !important;
}

nav{
	background: $blue;

	a{
		text-decoration: none !important;

		&:hover{
			color: white;
		}
	}
}

.brand-logo{
	padding: 0 83px !important;
	background: #005B93;
	font-family: $orbitron;

	&:hover{
		text-decoration: none;
	}
}

.grey-bg{
	background: $grey;
}

.side-nav{
	top: 64px;
	background: $grey;
	a{
		color: white !important;
	}

	li{
		a{
			
			font-size: 1rem;
			i{
				margin-right: 15px !important;
				color: $blue !important;
			}
		}
	}
}