<template name="Activity">
<div class="row">
	<div class="col s12 ">
		<div class="card">
			<div class="card-content grey-text no-padding">
				<div class="head-board">
					<h4>Activity</h4>
					<ul class="collection">
						<li class="collection-item avatar">
							<img src="/Images/faceone.jpg" alt="" class="circle">
							<span class="title">13/02/2017 14.23pm</span>
							<p>Enabled<br>
							Distance: 12km
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">thumb_up</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="/Images/facetwo.jpg" alt="" class="circle">
							<span class="title">10/10/2016 14.51pm</span>
							<p>Enabled <br>
								Distance: 22km
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons red-text">thumb_down</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="/Images/facethree.jpg" alt="" class="circle">
							<span class="title">12/10/2017 14.51pm</span>
							<p>Disabled<br>
							Distance: 2km
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">thumb_up</i></a>
						</li>
						<li class="collection-item avatar">
							<img src="/Images/facefour.jpg" alt="" class="circle">
							<span class="title">12/10/2017 14.51pm</span>
							<p>Enabled<br>
								Distance: 60km
							</p>
							<a href="#!" class="secondary-content"><i class="material-icons">thumb_up</i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</template>