<template name="Sidebar">
<ul id="slide-out" class="side-nav fixed">
	<li><i class="material-icons header-icons white-text">add</i><i class="material-icons header-icons white-text">delete</i><i class="material-icons header-icons white-text">create</i></li>
	<li><a href="#!"><i class="material-icons">gps_not_fixed</i>Car One</a></li>
	<li><a href="#!"><i class="material-icons">gps_not_fixed</i>Car Two <span class="new badge right-align">4</span></a></li>
	<li><a href="#!"><i class="material-icons">gps_not_fixed</i>Car Three <span class="new badge right-align">1</span></a></li>
</ul>
</template>